@tailwind base;

@tailwind components;

@tailwind utilities;

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none !important;
  [dir="rtl"] & {
    float: right;
  }
  div {
    outline: none !important;
  }
  & > div {
    display: block !important;
    & > div {
      display: block !important;
    }
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.toggle-checkbox:checked {
  @apply right-0;
}
.toggle-checkbox:checked + .toggle-label {
}

.p-mb-4 p {
  @apply mb-4;
}

.overflow-hidden {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.markdown {
  & > * + *,
  & li + li,
  & li > p + p {
    @apply mt-2;
  }
  & strong,
  & b {
    @apply font-bold;
  }
  & a {
    @apply font-semibold;
  }
  & strong a {
    @apply font-bold;
  }
  & h2 {
    @apply leading-tight;
    @apply text-xl;
    @apply font-bold;
    @apply text-black;
    @apply mb-2;
    @apply mt-6;
  }
  & h3 {
    @apply leading-tight;
    @apply text-lg;
    @apply font-bold;
    @apply text-black;
    @apply mt-8;
    @apply -mb-2;
  }
  & code {
    @apply text-sm;
    @apply inline;
    @apply px-1;
  }
  & pre code {
    @apply block;
    @apply bg-black;
    @apply p-4;
    @apply rounded;
  }
  & blockquote {
    @apply border-l-4;
    @apply pl-4;
    @apply italic;
  }
  & ul,
  & ol {
    @apply pl-3;
    @screen xl {
      @apply pl-4;
    }
  }
  & ul {
    list-style: inside disc;
  }
  & ol {
    list-style: decimal;
  }
}

.bg-yellow-900 {
  .PhoneInputInput {
    background-color: transparent !important;
    outline: none !important;
    border-width: 0 !important;
    &:focus {
      outline: none !important;
    }
    &::-moz-placeholder {
      color: currentColor;
      text-indent: 2.2rem;
    }
    &:-ms-input-placeholder {
      color: currentColor;
      text-indent: 2.2rem;
    }
    &::placeholder {
      color: currentColor;
      text-indent: 2.2rem;
    }
  }
}
